.award {
  background: #fff;
  padding: 30px 0;
  margin: 30px;
  font-family: 'GreyCliffCF';
}

.award.alt {
  background: #c90e3a;
  color: #fff;
}

.awardWrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
