@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }
}

.navbar {
    padding: 0.85rem 1rem !important;
}

.navbar-collapse {
  z-index: 2;
}
