.bg-img {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 0;
	height: 100%;

	background: linear-gradient(
                     rgba(10,10,10, .5),
                     rgba(10,10,10, .5)),
                     url(../img/bg.png) no-repeat center center fixed;
                     
	background-size: cover;
	filter: blur(10px);
}
