.brother {
  margin-bottom: 40px;
}

.brother h5 {
  text-transform: uppercase;
  color: #c90e3a;
  font-weight: bold;
}

.brother .crop {
    height: 250px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.brother .crop img {
    height: 100%;
}

.blank img {
    margin-left: -20px;
}
/*react-js popup*/

.button-popup{
  border: white;

}


.popup-content {
  text-align: center;
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 0px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}


.banner{
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 5vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  
}
.logo{
  align-self: center;
}
.lower-banner{
  display: inline;
  align-self: baseline;
  height: 15px;
  width: 100%;
  background-color: red;
  z-index: 1;
}
@media (min-width: 900px) {
.content{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr;
  gap: 2fr;
}
}
@media (max-width: 900px  ) and (min-width: 768px) {
  .content{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 2fr;
  }
}

@media (max-width: 768px){
  .content{
    display: grid;
    grid-template-columns: 2fr ;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    gap: 2fr;
  }
}

.grid-item{
  border: 1px solid black;
  border-color: black;
  
}
h4{
  color: red;
}

.pop-img{
  height: 25%;
  width: 25%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 10px;
}







@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

